body {
  font-family: system-ui;
  padding: 2rem;
}

.header {
  width: 100%;
  text-align: left;
  padding: 1rem;
  font-size: 16px;
}

.content {
  display: none;
  padding: 1rem;
  background: #f3f4f6;
}

.item.open .content {
  display: block;
}
